# Binaries
glide-plugin-docker
dist/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# Coverage
*.cover
coverage.html
coverage.txt

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Node.js
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db
